#sep-bottom-9 .bg-wrap {
    background: #000000;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
}
#header-text .bg {
    background-image: url('../images/bg-39.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:0.25;
}
#header-text .bg-wrap {
	background: rgba(3, 140, 12, 0.8);
}#sep-bottom-5 .bg-wrap {
	background: rgba(255, 255, 255, 0);
}     #sep-top-5 .bg-wrap {
    background: rgba(255, 255, 255, 0);
}#action-text-btn-2 .bg {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 50% auto;
    opacity: 0.31;
}

#action-text-btn-2 .bg-wrap {
	background: #038c0c;
}#desc-text-img-7 .bg-wrap {
    background-color: #222;
}
